<h1>Employee Information</h1>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @company.work_area %>
</p>

<%= link_to 'Listing Companies', companies_path %>
